/* ========================= */
/*  CHARACTER SECTION        */
/* ========================= */
main{
    max-width: 80%;
    margin: auto;
    margin-top: 8vh;
    margin-bottom: 8vh;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.character-container{
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-bottom: 2vh;
}
.character-img{
    max-width: 70%;
    display: block;
}
h1{
    color: red;
}
#hero_title{
    font-size: 2rem;
}
.subtitle{
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 200;
}
p{
    line-height: 1.2rem;
    margin-top: 2rem;
}

/* ====== MEDIAS QUERIES ====== */

/* ====== TABLETTE ====== */
@media (min-width: 768px) {
    section{
        flex-direction: row-reverse;
        text-align: left;
    }
    .character-informations{
        /* width: 80%; */
        max-width: 60%;
    }
    .character-img{
        max-width: 90%;
    }
}