/* ========================= */
/*  LOGIN / REGISTER         */
/* ========================= */
main{
    width: 70%;
    margin: auto;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 10vh auto;
}
form a:hover{
    text-decoration: underline white;
}
input, button{
    padding: 1rem;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
}
input[type="submit"], button{
    width: 50%;
    margin: auto;
    background-color: rgba(150, 0, 0, 1);
}
/* ========================= */
/*  PROFIL                   */
/* ========================= */
#profil_informations{
    margin: 8vh auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#profil_informations span{
    display: block;
    margin-top: 0.5rem;
    background-color: grey;
    padding: 0.5rem;
    border: solid 1px black;
    border-radius: 10px;
}
.cta{
    width: 50%;
}
#user_profil_card{
    padding: 8vh;
    background-color: #2C5B95;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    border-radius: 0 0 50px 50px;
}
.user_image_container{
    display: flex;
    justify-content: center;
}
.user_image{
    max-width: 80%;
}
#profil_information_form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

/* ====== MEDIAS QUERIES ====== */

/* ====== TABLETTE AND MORE ====== */
@media (min-width: 768px) {
    form, #user_profil_informations{
        width: 50%;
    }
    #user_profil_informations{
        margin: auto;
    }
}