/* ========================= */
/*  LOGIN / REGISTER         */
/* ========================= */
html, body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column
}
main {
	flex: 1;
    display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
input{
    padding: 1rem 2rem;
    border: solid 1px black;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5)
}
form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 70%;
    max-width: 800px;
}
form a:hover{
    text-decoration: underline white;
}
input[type="submit"], button{
    width: 50%;
    margin: auto;
    border-radius: 50px;
    background-color: rgb(255, 0, 0, 0.7);
}