/* ========================= */
/*  LOGIN / REGISTER         */
/* ========================= */
main{
    width: 70%;
    margin: auto;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 10vh auto;
}
form a:hover{
    text-decoration: underline white;
}
input, button{
    padding: 1rem;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
}
input[type="submit"], button{
    width: 50%;
    margin: auto;
    background-color: rgba(150, 0, 0, 1);
}
/* ====== MEDIAS QUERIES ====== */

/* ====== TABLETTE AND MORE ====== */
@media (min-width: 768px) {
    form{
        width: 50%;
    }
}