main{
    width: 80%;
    margin: auto;
}
#user_profil_card{
    background-color: #2C5B95;
    border-radius: 10px;
    box-shadow: 0px 5px 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin: 5vh auto;
}
#profil_informations div{
    margin-top: 2rem;
}
.user_infos{
    padding-top: 0.5rem;
    font-weight: bold;
}
#profil_informations button{
    background-color: red;
    border: solild 1px black;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
}
/* ====== MEDIAS QUERIES ====== */

/* ====== TABLETTE AND MORE ====== */
@media (min-width: 768px) {
    #user_profil_card{
        width: 30%;
    }
}