html, body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column
}
main {
	flex: 1;
    display: flex;
	justify-content: center;
	align-items: center;
	/* text-align: center; */
}

#user_profil_card{
    width: 70%;
    background-color: #2C5B95;
    padding: 2rem 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#profil_informations{
    width: 100%;
    margin-top: 2rem;
}
#profil_informations label{
    font-weight: bold;
    margin-left: 1rem ;
}
.user_infos{
    background-color: #507fb9;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}
button{
    width: 50%;
    padding: 1rem 0.5rem;
    margin: auto;
    border-radius: 50px;
    background-color: rgb(255, 0, 0, 0.7)
}


/* ====== MEDIAS QUERIES ====== */

/* ====== TABLETTE AND MORE ====== */
@media (min-width: 768px) {
    #user_profil_card{
        width: 40%;
    }
    button{
        width: 30%;
    }
}