*{
    color: #FFFFFF;
    text-decoration: none;
}
body{
    background-color: #27476E;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-optical-sizing: auto;
}
h1{
    font-weight: 700;
    font-size: 2.3rem;
}
.cta{
    display: inline-block;
    background-color: black;
    border: solid 1px #FF00EE;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}
.cta:hover{
    background-color: #FF00EE;
    border: black 1px solid;
    color: black;
}
/* ========================= */
/*       HEADER NAV          */
/* ========================= */
header, footer{
    background-color: #1B2F4A;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 1rem;
}
.main_logo{
    width: 50px;
}
nav ul{
    display: flex;
    gap: 1rem;
}
nav a:hover{
    text-decoration: underline #FF00EE;
}
/* ========================= */
/*  FOOTER                   */
/* ========================= */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer > div{
    padding: 1rem;
}
.footer_links{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.footer_socials{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
}
.logo{
    width: 35px;
}
.footer_links a:hover{
    text-decoration: underline white;
}
@media (min-width: 768px) {
    footer{
        flex-direction: row;
        justify-content: space-between;
    }
}